@charset"utf-8";
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.output {
	font-weight: bold;
}
#payment {
	text-decoration: underline;
}
#graph {
	border: solid #000 1px;
}
th,td {
	vertical-align: top;
}